{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
  <h2>Sign Up</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method=post id="registration_form">
    <dl>
      <dt>Username:
      <dd><input type=text name=username size=30 value="{{ request.form.username }}">
      <dt>E-Mail:
      <dd><input type=text name=email size=30 value="{{ request.form.email }}">
      <dt>Password:
      <dd><input type=password name=password size=30>
      <dt>Password <small>(repeat)</small>:
      <dd><input type=password name=password2 size=30>
      <dt>Public Key:
      <dd><input type=text name=pubkey size=64>
    </dl>
    <div class=actions><input type=submit value="Sign Up"></div>
  </form>
{% endblock %}

{% block footer %}
  {{ super() }}
   <script type="text/javascript">
      // The length of the RSA key, in bits.
      var Bits = 1024;
      var Exponent = "03";

      var generatedRSAKey = cryptico.generateRSAKey(Bits, Exponent);

      //Submit the public key to the server for other users.
      $('input:text[name=pubkey]').val(cryptico.publicKeyString(generatedRSAKey));

      //On form submit, store our private (and public key) in localStorage.
      $('#registration_form').submit(function(){
         var username = $('input:text[name=username]').val();
         BuzzingBird.storePrivateKey(username, generatedRSAKey);
      });

   </script>
{% endblock %}