{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
  <h2>Sign Up</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method=post id="registration_form">
    <dl>
      <dt>Username:
      <dd><input type=text name=username size=30 value="{{ request.form.username }}">
      <dt>E-Mail:
      <dd><input type=text name=email size=30 value="{{ request.form.email }}">
      <dt>Password:
      <dd><input type=password name=password size=30>
      <dt>Password <small>(repeat)</small>:
      <dd><input type=password name=password2 size=30>
      <dt>Public Key:
      <dd><input type=text name=pubkey size=64>
    </dl>
    <div class=actions><input type=submit value="Sign Up"></div>
  </form>
{% endblock %}

{% block footer %}
  {{ super() }}
   <script type="text/javascript">
      // The length of the RSA key, in bits.
      var Bits = 1024;
      var Exponent = "03";

      var generatedRSAKey = cryptico.generateRSAKey(Bits, Exponent);

      $('input:text[name=pubkey]').val(cryptico.publicKeyString(generatedRSAKey));

      console.log("Begin sigma and BigInt testing.");

      var randGen = new SecureRandom();
      var r = new BigInteger(Bits, randGen);

      console.log("Ramdomly generated R = " + r.toString(16));

      var encryptedR = generatedRSAKey.doPublic(r);
      console.log("Encrypted R = " + encryptedR.toString(16));

      var hashedTag = sha256.hex("#interestingtag");
      console.log("Hashed tag: " + hashedTag);

      var hashedTagBigInt = pkcs1pad2(hashedTag, (generatedRSAKey.n.bitLength() + 7) >> 3);
      console.log("Hashed tag BigInteger form: " + hashedTagBigInt.toString(16));

      var result = hashedTagBigInt.multiply(encryptedR).mod(generatedRSAKey.n);
      console.log("H(x) * r ^ e = " + result.toString(16));

      var encryptedWithPrivateResult = generatedRSAKey.doPrivate(result);
      console.log("(H(x) * r ^ e) ^ d = " + encryptedWithPrivateResult.toString(16));

      var sigma = encryptedWithPrivateResult.multiply(r.modInverse(generatedRSAKey.n)).mod(generatedRSAKey.n);
      console.log("Sigma = " + sigma.toString(16));

      var secondTry = generatedRSAKey.doPrivate(hashedTagBigInt);
      console.log("H(x) ^ d mod n = " + secondTry.toString(16));



   </script>
{% endblock %}