{% extends "layout.html" %}
{% block title %}Request to Follow a User{% endblock %}
{% block body %}
  <h2>Follow User</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method=post id="request_follow_form">
    <dl>
      <dt>Follow User:
      <dd><input type=text name=username size=30 value="{{ followuser }}">
      <dt>For Hashtag:
      <dd><input type=text name=hashtag size=30 value="{{ request.form.hashtag }}">
      <dt>Token:
      <dd><input type=text name=token size=64>
    </dl>
    <div class=actions><input type=submit value="Follow User"></div>
  </form>
  <a href="#" id="generate_token">Generate token.</a>
{% endblock %}
{% block footer %}
  {{ super() }}

  <script type="text/javascript">
    var bits = 1024;

    $('#generate_token').click(function(){
      $.getJSON($SCRIPT_ROOT + '/_get_public_key', {
        username : $('input:text[name=username]').val()
      }, function(data) {
        var publicKey = cryptico.publicKeyFromString(data.pub_key);
        var hashTag = $('input:text[name=hashtag]').val();
        var target_user = $('input:text[name=username]').val();

        var requestToken = BuzzingBird.createRequestToken(hashTag, publicKey, bits, "{{ g.user.username }}", target_user);
        $('input:text[name=token]').val(requestToken.toString(16));
      });
      return false;
    });
  </script>
{% endblock %}