{% extends "layout.html" %}
{% block title %}
  {% if request.endpoint == 'public_timeline' %}
    Public Timeline
  {% elif request.endpoint == 'user_timeline' %}
    {{ profile_user.username }}'s Timeline
  {% else %}
    My Timeline
  {% endif %}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  {% if g.user %}
    {% if request.endpoint == 'user_timeline' %}
      <div class=followstatus>
      {% if g.user.user_id == profile_user.user_id %}
        This is you!
      {% elif followed %}
        You are currently following this user.
        <a class=unfollow href="{{ url_for('unfollow_user', username=profile_user.username)
          }}">Unfollow user</a>.
      {% else %}
        You are not yet following this user.
        <a class=follow href="{{ url_for('follow_user', username=profile_user.username)
          }}">Follow user</a>.
      {% endif %}
      </div>
    {% elif request.endpoint == 'timeline' %}
      {% if follow_requests %}
        <ul class="follow_requests">
        {% for fr in follow_requests %}
         <li id="follow_request:{{ fr.username }}">You have a follow request from {{ fr.username }}. Approve? : <a href="#" class="follow_request_approve" id="{{ fr.token }}">Yes</a> <a href="#" class="follow_request_deny">No</a></li>
        {% endfor %}
        </ul>
      {% endif %}
      {% if approved_requests %}
        <ul class="approved_requests">
          {% for ar in approved_requests %}
            <li id="approved_request:{{ ar.username }}">Your follow request for <a href="{{ url_for('user_timeline', username=ar.username) }}">{{ ar.username }}</a> was approved. <a href="#" class="follow_request_accept" id ="{{ ar.token }}">Accept.</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      <div class=twitbox>
        <h3>What's on your mind {{ g.user.username }}?</h3>
        <form action="{{ url_for('add_message') }}" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
    {% endif %}
  {% endif %}
  <ul class=messages>
  {% for message in messages %}
    <li><img src="{{ message.email|gravatar(size=48) }}"><p>
      <strong><a href="{{ url_for('user_timeline', username=message.username)
      }}">{{ message.username }}</a></strong>
      {{ message.text }}
      <small>&mdash; {{ message.pub_date|datetimeformat }}</small>
  {% else %}
    <li><em>There's no message so far.</em>
  {% endfor %}
  </ul>
{% endblock %}
{% block footer %}
  {{ super() }}
  <script type="text/javascript">
    // Handle follow request approval.
    $('.follow_request_approve').click(function(){
      var strToken = this.id;
      var token = new BigInteger(strToken, 16);

      //Select the requesting user from the list element.
      var requestingUser = $(this).parent().attr('id').split(":")[1];

      var privateKeyPair = BuzzingBird.getPrivateKey("{{ g.user.username }}");
      var approvedToken = BuzzingBird.approveRequestToken(privateKeyPair, token);

      $.getJSON($SCRIPT_ROOT + '/_approve_token', {
        approved_username: requestingUser,
        approved_token: approvedToken.toString(16)
      }, function(data){
        if ("success" == data.result) {
          console.log("Successfully approved follow request.");
          $(this).parent().hide();
        }
      });

      return false;
    });

    // Handle follow request acceptance and final token generation.
    $('.follow_request_accept').click(function(){
      var strToken = this.id;
      var token = new BigInteger(strToken, 16);

      //Select the username of the user to be followed.
      var requestingUser = $(this).parent().attr('id').split(":")[1];

      //Get the public key of the user to be followed.
      $.getJSON($SCRIPT_ROOT + '/_get_public_key', {
        username : requestingUser
      }, function(data) {
        var publicKey = cryptico.publicKeyFromString(data.pub_key);

        var acceptedToken = BuzzingBird.acceptRequestToken(publicKey, "{{ g.user.username }}", requestingUser, token);

        //Set the final acceptance token.
        $.getJSON($SCRIPT_ROOT + '/_accept_token', {
          username: requestingUser,
          token: acceptedToken
        }, function(data){
          if ("success" == data.result) {
            console.log("Successfully accepted follow request.");
            $(this).parent().hide();
          }
        });

      });

      return false;
    });

  </script>
{% endblock %}
